body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
}

.form-container > div {
  border-radius: 30px;
  padding: 50px 30px;
  box-shadow: 0 0 15px dimgrey;
  width: 100%;
  text-align: center;
}
.form-container p {
  font-size: 14px;
}

svg {
  cursor: pointer;
  font-size: 20px;
}
.sidebar a {
  font-size: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  height: 300px;
  object-fit: fill;
}

.card {
  box-shadow: 0 0 15px #a3a3a3;
  margin-bottom: 30px;
}
.table-centered th,
.table-centered td {
  text-align: center;
  vertical-align: middle;
}

.table-centered img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
